@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>Welcome Pierre</h1>
  <h2>Please select your option below</h2>
</div>
<h3><a href='/vendors'>View vendors</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>